body {
    direction: ltr;
    background-color: #e5e5e5;
}
footer{
    background-color: #e5e5e5;
}
.logo{
    font-size: 16px;
}
.name, .title {
    text-shadow: 2px 2px 2px black
}
.name {
    font-weight: bold;
}
.mb-80 {
     margin-bottom: 39px;
}
.home-content {
    height: 65%;
}
.title {
    opacity: 1;
}
.aboutMe{
    color: black;
}
.aboutSection {
    text-align: left;
}
.team-item-image img{
    border: 1px solid black;
}
/*start portfolio*/
.work-item{
    height: 70vh;
}
.mfp-image{
    position: relative;
}
.portfolioLi {
    list-style: none;
    margin: auto;
}
.portfolioUl {
    padding: 0;
}
.portfolioDescr {
    letter-spacing: 1.5px;
    height: 15vh;
    color: #000;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    color: #a3a3a3;
}
.work-img{
     border: 1px solid black;
     cursor: pointer;
}
.portfolioLogo {
    text-decoration: none !important;
}
/*click portfolio*/

.imgClick{
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    background: #e41919;
    opacity: .1;
}
.clickColor {
    color: #000;
    /*color: #fff;*/
}
.clickWorkImg {
    background: rgba(250,250,250, .9);
}
.clickWorkIntro {
    color: #fff;
    -webkit-transform: translateY(-99px);
    -moz-transform: translateY(-99px);
    transform: translateY(-99px);
    z-index: 3;
    opacity: 1;
}
.removeOpacity {
    opacity: 0;
}
.addOpacity {
    opacity: 1;
}
/*end click portfolio*/

/*end portfolio*/

.service-icons {
    height: 33%;
    width: 33%;
}
.service-icons-redux {
    height: 33%;
    width: 35%;
}
.pb-30 {
    padding-bottom: 120px;
}
.page-section{
    padding-bottom: 120px;
}
.aboutTim {
    float: left;
    color: black;
}
.active {
    color: inherit;
}
.works-grid.hide-titles .work-item .work-intro{
    bottom: -77px;
}
.logo {
    max-width: 200px;
}
/*start form*/
.messageNotSent, .messageSent {
    width: 207px;
    float: right;
    margin-top: 10px;
    height: 37px;
    border: 1px solid green;
    text-align: center;
    border-radius: 4px;
    line-height: 32px;
}
.messageSent {
    color: green;
    border: 1px solid green;
}
.messageNotSent {
    color: green;
    border: 1px solid green;
}
/*end form*/
/*portfolio images*/
/*.work-item:hover .work-img > img*/
.portImg{
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}
.imgBackground{
}
/*end portfolio images*/

@media (max-width: 767px) {
    .team-item-image {
        width: 254px;
        margin: auto;
    }
    .cf-left-col{
        margin-left: 0;
    }
    .works-grid.hide-titles .work-item .work-intro{
        bottom: -70px;
    }
}
@media (max-width: 480px) {
    .mb-80 {
         margin-bottom: 20px;
    }
    .pb-30 {
        padding: 20px 0;
    }
    .page-section {
        padding: 20px 0;
    }
    .submit_btn {
        width: 100%;
    }
    .form-tip {
        padding-top: 0px;
    }
    .aboutSection {
        text-align: center;
    }

}
@media (max-width: 400px) {
    .tpl-alt-tabs > li {
        width: 95px;
    }
}
@media (max-width: 350px) {
    .hs-line-1 {
        letter-spacing: 10px;
    }
}
